# This project involves building a Nightingale Rose Chart using Covid-19 data

In [7]:
import webbrowser
import pandas as pd
from pyecharts.charts import Pie
from pyecharts import options as opts

In [88]:
#OPen the website and get the data with webbrowser
url='https://www.worldometers.info/coronavirus/'
webbrowser.open(url)

True

In [91]:
df=pd.read_clipboard()

In [92]:
df.head()

,1,USA,"22,137,009",Unnamed: 3,"374,197",Unnamed: 5,"13,143,317","8,619,495","29,034","66,675","1,127","265,444,863","799,501","332,013,304"
0,2,India,"10,414,044",NaN,"150,606",NaN,"10,037,398","226,040","8,944","7,508",109,"179,336,364","129,293","1,387,049,203"
1,3,Brazil,"7,961,673",NaN,"200,498",NaN,"7,096,931","664,244","8,318","37,318",940,"28,600,000","134,055","213,345,480"
2,4,Russia,"3,355,794","+23,652","60,911",+454,"2,731,129","563,754","2,300","22,990",417,"92,900,000","636,445","145,967,164"
3,5,UK,"2,889,419",NaN,"78,508",NaN,"1,364,821","1,446,090","2,821","42,447","1,153","58,231,730","855,446","68,071,770"
4,6,France,"2,727,321",NaN,"66,841",NaN,"198,756","2,461,724","2,616","41,735","1,023","36,890,043","564,509","65,348,904"

In [93]:
#The data does not have a column heading yet so we will add the column heading to the data
df.columns=['s/n','country','total_cases','new_cases','total_deaths','new_deaths','total_recovered','active_cases','critical_condition','total_cases_per_million','death_per_million','total_tests','test_per_million','population']

In [94]:
df.head()

,s/n,country,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,critical_condition,total_cases_per_million,death_per_million,total_tests,test_per_million,population
0,2,India,"10,414,044",NaN,"150,606",NaN,"10,037,398","226,040","8,944","7,508",109,"179,336,364","129,293","1,387,049,203"
1,3,Brazil,"7,961,673",NaN,"200,498",NaN,"7,096,931","664,244","8,318","37,318",940,"28,600,000","134,055","213,345,480"
2,4,Russia,"3,355,794","+23,652","60,911",+454,"2,731,129","563,754","2,300","22,990",417,"92,900,000","636,445","145,967,164"
3,5,UK,"2,889,419",NaN,"78,508",NaN,"1,364,821","1,446,090","2,821","42,447","1,153","58,231,730","855,446","68,071,770"
4,6,France,"2,727,321",NaN,"66,841",NaN,"198,756","2,461,724","2,616","41,735","1,023","36,890,043","564,509","65,348,904"

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   s/n                      219 non-null    int64
 1   country                  219 non-null    object
 2   total_cases              219 non-null    object
 3   new_cases                43 non-null     object
 4   total_deaths             200 non-null    object
 5   new_deaths               32 non-null     object
 6   total_recovered          216 non-null    object
 7   active_cases             216 non-null    object
 8   critical_condition       141 non-null    object
 9   total_cases_per_million  217 non-null    object
 10  death_per_million        198 non-null    object
 11  total_tests              200 non-null    object
 12  test_per_million         200 non-null    object
 13  population               217 non-null    object
dtypes: int64(1), object(13)
memory usage: 24.1+ KB

In [96]:
#Perform some data manipulation
#Remove "," from the dataset 
for x in range (1,len(df.columns)):
    df[df.columns[x]]=df[df.columns[x]].str.replace(',','')

In [97]:
#replace Nans with zeros
df=df.fillna(0)

In [98]:
#Change the object from string to integer
for i in range(2,len(df.columns)):
    df[df.columns[i]]=df[df.columns[i]].astype(float).astype(int)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   s/n                      219 non-null    int64
 1   country                  219 non-null    object
 2   total_cases              219 non-null    int32
 3   new_cases                219 non-null    int32
 4   total_deaths             219 non-null    int32
 5   new_deaths               219 non-null    int32
 6   total_recovered          219 non-null    int32
 7   active_cases             219 non-null    int32
 8   critical_condition       219 non-null    int32
 9   total_cases_per_million  219 non-null    int32
 10  death_per_million        219 non-null    int32
 11  total_tests              219 non-null    int32
 12  test_per_million         219 non-null    int32
 13  population               219 non-null    int32
dtypes: int32(12), int64(1), object(1)
memory usage: 13.8+ KB

In [100]:
#Sort the dataframe by death_rate in descending order
df=df.sort_values(by=['total_deaths'],inplace=True,ascending=False)

In [101]:
#Select the top 15 countries which have the highest death rate 
#df15=df[['country','total_deaths']].head(15)

In [102]:
df15.reset_index()

    index       country  total_deaths
0       1        Brazil    2004980000
1       0         India    1506060000
2      11        Mexico    1299870000
3       3            UK     785080000
4       6         Italy     772910000
5       4        France     668410000
6       2        Russia     604570000
7      13          Iran     559330000
8       7         Spain     516750000
9       9      Colombia     450670000
10     10     Argentina     441220000
11      8       Germany     392580000
12     16          Peru     380490000
13     14  South Africa     318090000
14     12        Poland     302410000

In [130]:
#Convert to percentage 
df15['total_deaths']=(df15['total_deaths']/(df15['total_deaths'].sum())*100).round(1)

In [131]:
df15['total_deaths']

1    -26.6
0      5.5
11    22.2
3     23.4
6     -0.4
4    -36.7
2      6.4
13     1.9
7      2.6
9     41.3
10    22.9
8     11.8
16   -11.8
14    34.0
12     3.4
Name: total_deaths, dtype: float64

In [132]:
#Visualize the data 
c=df15['country'].values.tolist()
d=df15['total_deaths'].values.tolist()

In [133]:
#Create the color series for the chart
color_series = [
    "#802200", "#B33000", "#FF4500", "#FAAA327", "#9ECB3C", "#6DBC49", "#37B44E",
    "#6A368B", "#2C6BA0", '#44388E', '#6A368B', '#141DCF',"#D02C2A","#D44C2D","#FA8F2F"
]

In [134]:
rosechart=Pie(init_opts=opts.InitOpts(width='1350px',height='750px'));

C:\Users\MY PC\New folder\lib\site-packages\pyecharts\charts\chart.py:14: PendingDeprecationWarning: pyecharts 所有图表类型将在 v1.9.0 版本开始强制使用 ChartItem 进行数据项配置 :)
  super().__init__(init_opts=init_opts)

In [135]:
#Set the color
rosechart.set_colors(color_series);

In [136]:
#Add the data to the rosechart
rosechart.add(" ", [list(z) for z in zip(c, d)],
              radius=["20%", "95%"],
              center=["30%", "60%"],
              rosetype="area");  #20% for inside radius,95% for side radius

In [137]:
# Set the global options for the chart
rosechart.set_global_opts(
    title_opts=opts.TitleOpts(title="Nightingale Rose Chart",
                              subtitle="Covid-19 Death Rate"),
    legend_opts=opts.LegendOpts(is_show=False),
    toolbox_opts=opts.ToolboxOpts(),
    );

In [148]:
#Set the series options
rosechart.set_series_opts(label_opts=opts.LabelOpts(is_show=True,
                                                     position='outside',
                                                     font_size=18,
                                                     formatter="{b}:{c}%",
                                                     font_style="italic",
                                                     font_weight="bold",color='black',rotate=65,
                                                     font_family="century"),);

In [149]:
rosechart.render('covid-rosecharts.html')

'C:\\Users\\MY PC\\Desktop\\IBK\\DATA SCIENCE PROJECTS\\WORLDOMETER DATA TO BE UPDATED\\covid-rosecharts.html'

In [150]:
rosechart.render_notebook()